<!DOCTYPE html>
<html>
<head>
    <title>{{ value }} Follower Counter</title>
    <link rel="shortcut icon" href="/static/favicon/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="http://github.hubspot.com/odometer/themes/odometer-theme-car.css" />
    <script src="http://github.hubspot.com/odometer/odometer.js"></script>
    <script src="/static/js/script.js"></script>
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
    <div id=followerContainer>
        <div id=followCount>{{ value }}'s Follower Count</div>
        <div id=odometer class="odometer">0</div>
        <div id=numTweets>
            <p id="num_tweets" class="text"></p>
        </div>
        <div id=numLikes>
            <p id="num_likes" class="text"></p>
        </div>
    </div>
</body>
</html>