<!DOCTYPE html>
<html>
<head>
    <title>{{ value }} Follower Counter</title>
    <link rel="shortcut icon" href="/static/favicon/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="http://github.hubspot.com/odometer/themes/odometer-theme-car.css" />
    <script src="http://github.hubspot.com/odometer/odometer.js"></script>
    <script src="/static/js/script.js"></script>
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
    <div id=followerContainer>
        <div id=odometer class="odometer">0</div>
        <p class="text">{{ value }} Follower Count</p>
    </div>
</body>
</html>